nav {
    height: 60px;
    display: grid;
    grid-template-columns: auto auto 20px;
    border-bottom: 1px solid rgb(218, 218, 218);
    box-shadow: 0 2px 0 #ddd;
    //margin-bottom: 12px;
    font-size: .9em;    
    #logo {
        display: grid;
        align-items: center;
        justify-items: center;
        height: 100%;
        width: 80px;
        border: 0;
        font-size: 1.2em;
    }
    ul {
        display: grid;        
        align-items: center;
        grid-template-columns: auto auto;
        justify-items: center; 
        justify-self: start;            
    }

    ul:last-child {        
        grid-template-columns: repeat(5, auto);
        justify-items: center; 
        justify-self: end;
        margin: 0;
    }
}

ul li {
    list-style: none;
    //margin: 0;
}

.active {
    background-color: rgb(12, 247, 176);
    color: white;
}

.mnav-item {
    margin-right: 15px;
    transition: all 500ms; 
    border: 1px solid rgb(12, 247, 176);
    border-radius: 7px;
    padding: 7px 10px;
    &:hover {
        background-color: rgb(12, 238, 170);
        cursor: pointer;
        color: white;    
        margin-right: 15px;        
    }
}

#logo {
    margin-right: 20px;
}

