<main>
  <div id="out">
    <h2>Real Time Chat And Cryptocurrency Wallet Built Using The MEAN Stack</h2>
    <div id="container">
      <img src="../../assets/angular2.png" id="angular" class="icons">
      <img src="../../assets/node2.png" id="node" class="icons">
      <img src="../../assets/express.svg" id="express" class="icons">
      <img src="../../assets/mongo.png" id="mongo" class="icons">
    </div>
    <div id="detail">
      <h4>
        A web app powerd by sockets for live communication, node and express for a server and mongodb for a database!
      </h4>
    </div>    
    <button routerLink="">Sign Up to see it in acction</button>
  </div>  
</main>